<a href="https://colab.research.google.com/github/LucasDatilioCarderelli/Codenation/blob/master/Codenation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio AceleraDS Codenation

Descubra as melhores notas de matemática do ENEM 2016

Você deverá criar um modelo para prever a nota da prova de matemática de quem participou do ENEM 2016.

## Detalhes

Tópicos

Neste desafio você aprenderá:

- Lógica
- Análise de dados
- Estatística
- Regression

Detalhes

O contexto do desafio gira em torno dos resultados do ENEM 2016 (disponíveis no arquivo train.csv). Este arquivo, e apenas ele, deve ser utilizado para todos os desafios. Qualquer dúvida a respeito das colunas, consulte o [Dicionário dos Microdados do Enem 2016](https://s3-us-west-1.amazonaws.com/acceleration-assets-highway/data-science/dicionario-de-dados.zip).

Muitas universidades brasileiras utilizam o ENEM para selecionar seus futuros alunos e alunas. Isto é feito com uma média ponderada das notas das provas de matemática, ciências da natureza, linguagens e códigos, ciências humanas e redação. Determine os 20 melhores colocados, por ordem, para os pesos abaixo:

- matemática: 3
- ciências da natureza: 2
- linguagens e códigos: 1.5
- ciências humanas: 1
- redação: 3

No arquivo test.csv crie um modelo para prever nota da prova de matemática (coluna **NU_NOTA_MT**) de quem participou do ENEM 2016. 

Salve sua resposta em um arquivo chamado answer.csv com duas colunas: **NU_INSCRICAO** e **NU_NOTA_MT**.

Faça o upload do arquivo answer.csv usando o botão "Submeter resposta".

Observações

O objetivo do desafio é avaliar a sua capacidade de resolver problemas, então ele pode ser resolvido em qualquer linguagem de programação ou ferramenta que você tenha facilidade. Mas recomendamos o uso de linguagens com maior ferramental de matemática e estatística como Python, R, Scala ou Julia.

## Importando dados e Bibliotecas

In [2]:
from google.colab import files
uploaded = files.upload()

Saving test.csv to test.csv
Saving train.csv to train.csv

In [0]:
import pandas as pd

df = pd.read_csv("/content/train.csv")
teste = pd.read_csv("/content/test.csv")

In [60]:
print(df.shape, teste.shape)

(13730, 167) (4576, 47)

In [61]:
teste.head()

                               NU_INSCRICAO  CO_UF_RESIDENCIA  ... Q027  Q047
0  73ff9fcc02f0a99919906c942c2e1a1042cdcf98                41  ...    C     A
1  71a95f9f1b91a82c65ad94abbdf9f54e6066f968                21  ...    F     A
2  b38a03232f43b11c9d0788abaf060f7366053b6d                23  ...  NaN     A
3  70b682d9a3636be23f6120fa9d6b164eb3c6002d                15  ...  NaN     A
4  715494628a50142ce8cb17191cfe6d0f3cae0934                41  ...  NaN     A

[5 rows x 47 columns]

In [66]:
teste['SG_UF_RESIDENCIA'].unique()

array(['PR', 'MA', 'CE', 'PA', 'RS', 'SP', 'MT', 'RN', 'PE', 'PB', 'RJ',
       'MG', 'BA', 'RO', 'AM', 'GO', 'AL', 'DF', 'SC', 'ES', 'TO', 'PI',
       'AP', 'AC', 'MS', 'SE', 'RR'], dtype=object)

In [62]:
teste.columns

Index(['NU_INSCRICAO', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NU_IDADE',
       'TP_SEXO', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
       'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO',
       'TP_DEPENDENCIA_ADM_ESC', 'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ',
       'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_SABATISTA', 'IN_GESTANTE',
       'IN_IDOSO', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT',
       'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'TP_LINGUA',
       'TP_STATUS_REDACAO', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3',
       'NU_NOTA_COMP4', 'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002',
       'Q006', 'Q024', 'Q025', 'Q026', 'Q027', 'Q047'],
      dtype='object')

In [68]:
teste.drop(['NU_INSCRICAO', 'CO_PROVA_CN', 'CO_PROVA_CH', 
            'CO_PROVA_LC', 'CO_PROVA_MT'], axis=1, inplace=True)

KeyError: ignored

In [0]:
teste.drop('CO_UF_RESIDENCIA', axis=1, inplace=True)

In [64]:
for n in range(0, 4576):
  if teste['TP_SEXO'][n] == 'F':
    teste['TP_SEXO'][n] = 1
  if teste['TP_SEXO'][n] == 'M':
    teste['TP_SEXO'][n] = 0
teste['TP_SEXO'] = pd.to_numeric(teste['TP_SEXO'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

0       1
1       1
2       0
3       1
4       0
       ..
4571    1
4572    0
4573    0
4574    0
4575    0
Name: TP_SEXO, Length: 4576, dtype: int64

In [79]:
for n in range(0, 13730):
  if df['TP_SEXO'][n] == 'F':
    df['TP_SEXO'][n] = 1
  if df['TP_SEXO'][n] == 'M':
    df['TP_SEXO'][n] = 0
df['TP_SEXO'] = pd.to_numeric(df['TP_SEXO'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [65]:
teste.dtypes

CO_UF_RESIDENCIA            int64
SG_UF_RESIDENCIA           object
NU_IDADE                    int64
TP_SEXO                     int64
TP_COR_RACA                 int64
TP_NACIONALIDADE            int64
TP_ST_CONCLUSAO             int64
TP_ANO_CONCLUIU             int64
TP_ESCOLA                   int64
TP_ENSINO                 float64
IN_TREINEIRO                int64
TP_DEPENDENCIA_ADM_ESC    float64
IN_BAIXA_VISAO              int64
IN_CEGUEIRA                 int64
IN_SURDEZ                   int64
IN_DISLEXIA                 int64
IN_DISCALCULIA              int64
IN_SABATISTA                int64
IN_GESTANTE                 int64
IN_IDOSO                    int64
TP_PRESENCA_CN              int64
TP_PRESENCA_CH              int64
TP_PRESENCA_LC              int64
NU_NOTA_CN                float64
NU_NOTA_CH                float64
NU_NOTA_LC                float64
TP_LINGUA                   int64
TP_STATUS_REDACAO         float64
NU_NOTA_COMP1             float64
NU_NOTA_COMP2             float64
NU_NOTA_COMP3             float64
NU_NOTA_COMP4             float64
NU_NOTA_COMP5             float64
NU_NOTA_REDACAO           float64
Q001                       object
Q002                       object
Q006                       object
Q024                       object
Q025                       object
Q026                       object
Q027                       object
Q047                       object
dtype: object

In [0]:
# df.groupby(by=['TP_COR_RACA', 'TP_SEXO'])['NU_NOTA_MT'].describe() # O quão anti-ético é isso?!

In [76]:
teste.shape

(4576, 41)

In [81]:
df2 = df[teste.columns]
df2.shape

(13730, 41)

In [82]:
df3 = pd.get_dummies(df2)
df3.shape

(13730, 120)

In [0]:
df3.fillna(df3.median(), inplace=True)

In [70]:
teste2 = pd.get_dummies(teste)
teste2

      NU_IDADE  TP_SEXO  TP_COR_RACA  ...  Q047_C  Q047_D  Q047_E
0           22        1            3  ...       0       0       0
1           26        1            3  ...       0       0       0
2           21        0            1  ...       0       0       0
3           27        1            3  ...       0       0       0
4           18        0            1  ...       0       0       0
...        ...      ...          ...  ...     ...     ...     ...
4571        17        1            1  ...       0       0       0
4572        17        0            2  ...       0       0       0
4573        19        0            1  ...       0       1       0
4574        17        0            2  ...       0       0       0
4575        30        0            1  ...       0       0       0

[4576 rows x 120 columns]

In [72]:
teste2.fillna(teste2.median(), inplace=True)
teste2

      NU_IDADE  TP_SEXO  TP_COR_RACA  ...  Q047_C  Q047_D  Q047_E
0           22        1            3  ...       0       0       0
1           26        1            3  ...       0       0       0
2           21        0            1  ...       0       0       0
3           27        1            3  ...       0       0       0
4           18        0            1  ...       0       0       0
...        ...      ...          ...  ...     ...     ...     ...
4571        17        1            1  ...       0       0       0
4572        17        0            2  ...       0       0       0
4573        19        0            1  ...       0       1       0
4574        17        0            2  ...       0       0       0
4575        30        0            1  ...       0       0       0

[4576 rows x 120 columns]

## Feature Selection