<a href="https://colab.research.google.com/github/LucasDatilioCarderelli/Codenation/blob/master/Codenation/enem-2/main_enem-2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# enem-2

## Importing

In [44]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

from google.colab import files

In [2]:
train = pd.read_csv("/content/train.csv")
test = pd.read_csv("/content/test.csv")

train.shape, test.shape

((13730, 167), (4576, 47))

## Droping

In [3]:
train.head()

   Unnamed: 0                              NU_INSCRICAO  ...  Q049  Q050
0           1  ed50e8aaa58e7a806c337585efee9ca41f1eb1ad  ...     B     D
1           2  2c3acac4b33ec2b195d77e7c04a2d75727fad723  ...     C     A
2           3  f4545f8ccb9ff5c8aad7d32951b3f251a26e6568  ...     B     A
3           4  3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe  ...     A     A
4           5  bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268  ...     A     A

[5 rows x 167 columns]

In [4]:
test.drop(labels=['CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT', 
                  'Q001', 'Q002', 'Q006', 'Q024', 'Q025', 'Q026', 'Q027', 'Q047'],
           axis=1, inplace=True)

In [5]:
nota_mt = train.NU_NOTA_MT
nota_mt.shape

(13730,)

In [6]:
train = train[test.columns].join(nota_mt)
train.shape, test.shape

((13730, 36), (4576, 35))

In [7]:
test.head()

                               NU_INSCRICAO  ...  NU_NOTA_REDACAO
0  73ff9fcc02f0a99919906c942c2e1a1042cdcf98  ...            420.0
1  71a95f9f1b91a82c65ad94abbdf9f54e6066f968  ...            580.0
2  b38a03232f43b11c9d0788abaf060f7366053b6d  ...            320.0
3  70b682d9a3636be23f6120fa9d6b164eb3c6002d  ...              NaN
4  715494628a50142ce8cb17191cfe6d0f3cae0934  ...            320.0

[5 rows x 35 columns]

In [8]:
train_inscrição = train.pop("NU_INSCRICAO")
test_inscrição = test.pop("NU_INSCRICAO")

In [9]:
train.isnull().sum()

CO_UF_RESIDENCIA             0
SG_UF_RESIDENCIA             0
NU_IDADE                     0
TP_SEXO                      0
TP_COR_RACA                  0
TP_NACIONALIDADE             0
TP_ST_CONCLUSAO              0
TP_ANO_CONCLUIU              0
TP_ESCOLA                    0
TP_ENSINO                 9448
IN_TREINEIRO                 0
TP_DEPENDENCIA_ADM_ESC    9448
IN_BAIXA_VISAO               0
IN_CEGUEIRA                  0
IN_SURDEZ                    0
IN_DISLEXIA                  0
IN_DISCALCULIA               0
IN_SABATISTA                 0
IN_GESTANTE                  0
IN_IDOSO                     0
TP_PRESENCA_CN               0
TP_PRESENCA_CH               0
TP_PRESENCA_LC               0
NU_NOTA_CN                3389
NU_NOTA_CH                3389
NU_NOTA_LC                3597
TP_LINGUA                    0
TP_STATUS_REDACAO         3597
NU_NOTA_COMP1             3597
NU_NOTA_COMP2             3597
NU_NOTA_COMP3             3597
NU_NOTA_COMP4             3597
NU_NOTA_COMP5             3597
NU_NOTA_REDACAO           3597
NU_NOTA_MT                3597
dtype: int64

In [10]:
print(train.TP_ENSINO.median(), train.TP_DEPENDENCIA_ADM_ESC.median())
train.TP_ENSINO.fillna(1, inplace=True)
train.TP_DEPENDENCIA_ADM_ESC.fillna(2, inplace=True)
test.TP_ENSINO.fillna(1, inplace=True)
test.TP_DEPENDENCIA_ADM_ESC.fillna(2, inplace=True)

1.0 2.0

In [11]:
train.fillna(0, inplace=True)
test.fillna(0, inplace=True)

## Modeling

In [41]:
train = pd.get_dummies(train)
test= pd.get_dummies(test)

In [16]:
scaler = StandardScaler()
scaler = scaler.fit_transform(train)

In [29]:
x = train.drop("NU_NOTA_MT", axis=1)
y = train["NU_NOTA_MT"]

xtrain, xval, ytrain, yval = train_test_split(x, y, test_size=.3, random_state=0)
xtrain.shape, xval.shape, ytrain.shape, yval.shape

((9611, 61), (4119, 61), (9611,), (4119,))

In [27]:
ytrain = ytrain.to_numpy().reshape(-1,1)

In [34]:
mdl = LinearRegression()
mdl.fit(xtrain, ytrain)
p = mdl.predict(xval)
s = r2_score(yval, p)
s

0.9109668514186436

In [42]:
pred = mdl.predict(test)

## Saving

In [43]:
resp = pd.DataFrame(pred, index=test_inscrição)
resp.columns = ['NU_NOTA_MT']
resp

                                          NU_NOTA_MT
NU_INSCRICAO
73ff9fcc02f0a99919906c942c2e1a1042cdcf98  433.324934
71a95f9f1b91a82c65ad94abbdf9f54e6066f968  444.531990
b38a03232f43b11c9d0788abaf060f7366053b6d  562.579588
70b682d9a3636be23f6120fa9d6b164eb3c6002d  -12.693177
715494628a50142ce8cb17191cfe6d0f3cae0934  544.591516
...                                              ...
dac0f22429c7f8e3931d0abaf5dfc8e5c772a48b  444.125079
a75fa8770257e7c9368d059fe53d9ef431f4bdef  456.402107
655fa6306720ff16e825903b5422a46608a77545  618.618169
1f4bc3e3d56212d500625bfe8ac78ccff4362293  483.137355
adf0d15b54317b6564ef56dad2b775bbb0ef50cc   16.615346

[4576 rows x 1 columns]

In [45]:
resp.to_csv('answer.csv')
files.download('answer.csv')