In [1]:
import pandas as pd
import json

pd.options.display.float_format = '{:,.2f}'.format

In [2]:
df = pd.read_csv('desafio1.csv')

In [3]:
df.columns

Index(['RowNumber', 'id', 'sobrenome', 'pontuacao_credito',
       'estado_residencia', 'genero', 'idade', 'nivel_estabilidade',
       'saldo_conta', 'numero_produtos', 'possui_cartao_de_credito',
       'membro_ativo'],
      dtype='object')

In [4]:
df.drop(columns=['RowNumber', 'id', 'sobrenome'], axis=1, inplace=True)
df.head()

,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,619,SC,F,42,2,0.00,1,1,1
1,608,RS,F,41,1,"83,807.86",1,0,1
2,502,SC,F,42,8,"159,660.80",3,1,0
3,699,SC,F,39,1,0.00,2,0,0
4,850,RS,F,43,2,"125,510.82",1,1,1

In [5]:
df.describe()

,pontuacao_credito,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
count,"7,000.00","7,000.00","7,000.00","7,000.00","7,000.00","7,000.00","7,000.00"
mean,649.79,38.89,5.01,"76,471.88",1.53,0.70,0.51
std,97.05,10.47,2.89,"62,403.38",0.58,0.46,0.50
min,350.00,18.00,0.00,0.00,1.00,0.00,0.00
25%,582.00,32.00,3.00,0.00,1.00,0.00,0.00
50%,651.00,37.00,5.00,"97,277.13",1.00,1.00,1.00
75%,717.00,44.00,7.25,"127,537.15",2.00,1.00,1.00
max,850.00,92.00,10.00,"250,898.09",4.00,1.00,1.00

In [6]:
sc = df.loc[df['estado_residencia'] == 'SC']['pontuacao_credito']
rs = df.loc[df['estado_residencia'] == 'RS']['pontuacao_credito']
pr = df.loc[df['estado_residencia'] == 'PR']['pontuacao_credito']

In [7]:
submission = {
    "SC": {
        "moda": sc.mode()[0],
        "mediana": sc.median(),
        "media": sc.mean(),
        "desvio_padrao": sc.std()
    },
    "RS": {
        "moda": rs.mode()[0],
        "mediana": rs.median(),
        "media": rs.mean(),
        "desvio_padrao": rs.std()
    },
    "PR": {
        "moda": pr.mode()[0],
        "mediana": pr.median(),
        "media": pr.mean(),
        "desvio_padrao": pr.std()
    }
}

In [8]:
submission = str(submission)
submission = submission.replace("\'", "\"")
open('submission.json','w').write(submission)

308