<a href="https://colab.research.google.com/github/LucasDatilioCarderelli/Codenation/blob/master/Projeto_Final/Prjct_F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto Final Codenation

## Importing Files

In [1]:
# a = []
# while(1):
#     a.append("1")

In [2]:
#Importando as bibliotecas básicas:
import pandas as pd
import numpy as np

# Para geração de gráficos
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from zipfile import ZipFile # Para abrir arquivos "zipados"
import gc

#Para setar o número de linhas e colunas visíveis no dataset
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
zip_file = ZipFile("/content/estaticos_market.csv.zip")
dfs = {text_file.filename: pd.read_csv(zip_file.open(text_file.filename))
for text_file in zip_file.infolist() if text_file.filename.endswith('.csv')}
list(zip(dfs))

[('estaticos_market.csv',)]

In [4]:
mkt = pd.DataFrame(dfs['estaticos_market.csv'])

port1 = pd.read_csv("https://codenation-challenges.s3-us-west-1.amazonaws.com/ml-leads/estaticos_portfolio1.csv")
port2 = pd.read_csv("https://codenation-challenges.s3-us-west-1.amazonaws.com/ml-leads/estaticos_portfolio2.csv")
port3 = pd.read_csv("https://codenation-challenges.s3-us-west-1.amazonaws.com/ml-leads/estaticos_portfolio3.csv")

mkt.shape, port1.shape, port2.shape, port3.shape

((462298, 182), (555, 182), (566, 2), (265, 2))

In [5]:
# Reduzindo e convertendo dados para reduzir memória 
ints = mkt.select_dtypes(include=['int64','int32','int16']).columns
mkt[ints] = mkt[ints].apply(pd.to_numeric, downcast='integer')

floats = mkt.select_dtypes(include=['float']).columns
mkt[floats] = mkt[floats].apply(pd.to_numeric, downcast='float')

objects = mkt.select_dtypes('object').columns
mkt[objects] = mkt[objects].apply(lambda x: x.astype('category'))

mkt.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 462298 entries, 0 to 462297
Columns: 182 entries, Unnamed: 0 to qt_filiais
dtypes: bool(9), category(27), float32(144), int16(1), int32(1)
memory usage: 348.4 MB

In [6]:
mkt.head()

,Unnamed: 0,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,fl_me,fl_sa,fl_epp,fl_mei,fl_ltda,dt_situacao,fl_st_especial,fl_email,fl_telefone,fl_rm,nm_divisao,nm_segmento,fl_spa,fl_antt,fl_veiculo,vl_total_tancagem,vl_total_veiculos_antt,vl_total_veiculos_leves,vl_total_veiculos_pesados,fl_optante_simples,qt_art,vl_total_veiculos_pesados_grupo,vl_total_veiculos_leves_grupo,vl_total_tancagem_grupo,vl_total_veiculos_antt_grupo,vl_potenc_cons_oleo_gas,fl_optante_simei,sg_uf_matriz,de_saude_tributaria,de_saude_rescencia,nu_meses_rescencia,de_nivel_atividade,de_indicador_telefone,fl_simples_irregular,vl_frota,empsetorcensitariofaixarendapopulacao,nm_meso_regiao,nm_micro_regiao,fl_passivel_iss,qt_socios,qt_socios_pf,qt_socios_pj,idade_media_socios,idade_maxima_socios,idade_minima_socios,qt_socios_st_regular,qt_socios_st_suspensa,qt_socios_masculino,qt_socios_feminino,qt_socios_pep,qt_alteracao_socio_total,qt_alteracao_socio_90d,qt_alteracao_socio_180d,qt_alteracao_socio_365d,qt_socios_pj_ativos,qt_socios_pj_nulos,qt_socios_pj_baixados,qt_socios_pj_suspensos,qt_socios_pj_inaptos,vl_idade_media_socios_pj,vl_idade_maxima_socios_pj,vl_idade_minima_socios_pj,qt_coligados,qt_socios_coligados,qt_coligados_matriz,qt_coligados_ativo,qt_coligados_baixada,qt_coligados_inapta,qt_coligados_suspensa,qt_coligados_nula,idade_media_coligadas,idade_maxima_coligadas,idade_minima_coligadas,coligada_mais_nova_ativa,coligada_mais_antiga_ativa,idade_media_coligadas_ativas,coligada_mais_nova_baixada,coligada_mais_antiga_baixada,idade_media_coligadas_baixadas,qt_coligados_sa,qt_coligados_me,qt_coligados_mei,qt_coligados_ltda,qt_coligados_epp,qt_coligados_norte,qt_coligados_sul,qt_coligados_nordeste,qt_coligados_centro,qt_coligados_sudeste,qt_coligados_exterior,qt_ufs_coligados,qt_regioes_coligados,qt_ramos_coligados,qt_coligados_industria,qt_coligados_agropecuaria,qt_coligados_comercio,qt_coligados_serviço,qt_coligados_ccivil,qt_funcionarios_coligados,qt_funcionarios_coligados_gp,media_funcionarios_coligados_gp,max_funcionarios_coligados_gp,min_funcionarios_coligados_gp,vl_folha_coligados,media_vl_folha_coligados,max_vl_folha_coligados,min_vl_folha_coligados,vl_folha_coligados_gp,media_vl_folha_coligados_gp,max_vl_folha_coligados_gp,min_vl_folha_coligados_gp,faturamento_est_coligados,media_faturamento_est_coligados,max_faturamento_est_coligados,min_faturamento_est_coligados,faturamento_est_coligados_gp,media_faturamento_est_coligados_gp,max_faturamento_est_coligados_gp,min_faturamento_est_coligados_gp,total_filiais_coligados,media_filiais_coligados,max_filiais_coligados,min_filiais_coligados,qt_coligados_atividade_alto,qt_coligados_atividade_medio,qt_coligados_atividade_baixo,qt_coligados_atividade_mt_baixo,qt_coligados_atividade_inativo,qt_coligadas,sum_faturamento_estimado_coligadas,de_faixa_faturamento_estimado,de_faixa_faturamento_estimado_grupo,vl_faturamento_estimado_aux,vl_faturamento_estimado_grupo_aux,qt_ex_funcionarios,qt_funcionarios_grupo,percent_func_genero_masc,percent_func_genero_fem,idade_ate_18,idade_de_19_a_23,idade_de_24_a_28,idade_de_29_a_33,idade_de_34_a_38,idade_de_39_a_43,idade_de_44_a_48,idade_de_49_a_53,idade_de_54_a_58,idade_acima_de_58,grau_instrucao_macro_analfabeto,grau_instrucao_macro_escolaridade_fundamental,grau_instrucao_macro_escolaridade_media,grau_instrucao_macro_escolaridade_superior,grau_instrucao_macro_desconhecido,total,meses_ultima_contratacaco,qt_admitidos_12meses,qt_desligados_12meses,qt_desligados,qt_admitidos,media_meses_servicos_all,max_meses_servicos_all,min_meses_servicos_all,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
0,0,a6984c3ae395090e3bee8ad63c3758b110de096d5d8195...,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,INDUSTRIA DA CONSTRUCAO,CONSTRUÇÃO CIVIL,14.457534,10 a 15,False,False,False,False,False,2005-03-25,False,True,True,SIM,CONSTRUCAO DE EDIFICIOS,CONSTRUCAO,False,False,False,NaN,NaN,NaN,NaN,True,8.0,0.0,0.0,NaN,NaN,NaN,False,RN,VERDE,ACIMA DE 1 ANO,23.0,ALTA,BOA,False,NaN,NaN,LESTE POTIGUAR,NATAL,True,2.0,2.0,0.0,44.0,47.0,41.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,8.0,6.0,6.0,0.0,0.0,0.0,0.0,220.477783,536.366638,57.299999,57.299999,536.366638,220.477783,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,2.0,1.0,5.0,0.0,0.0,1.0,5.0,0.0,145.0,145.0,36.25,91.0,6.0,9375912.0,2343978.0,5275238.5,638798.375,9375912.0,2343978.0,5275238.5,638798.375,21809444.0,3634907.25,13188096.0,210000.0,22019444.0,3669907.25,13188096.0,210000.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,6.0,21809444.0,"DE R$ 1.500.000,01 A R$ 4.800.000,00","DE R$ 1.500.000,01 A R$ 4.800.000,00",3132172.75,3132172.75,119.0,26.0,100.0,0.0,NaN,1.0,4.0,6.0,5.0,3.0,4.0,2.0,NaN,1.0,NaN,1.0,25.0,NaN,NaN,26.0,19.166666,0.0,0.0,119.0,145.0,13.309196,93.26667,-0.933333,43.738461,93.26667,19.166666,26.0,26.0,27.0,0.0,-3.703704,0.0,0
1,1,6178f41ade1365e44bc2c46654c2c8c0eaae27dcb476c4...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,SERVICOS DE ALOJAMENTO/ALIMENTACAO,SERVIÇO,1.463014,1 a 5,False,False,False,True,False,2017-05-12,False,True,True,SIM,ALIMENTACAO,ALOJAMENTO E ALIMENTACAO,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,PI,CINZA,ATE 1 ANO,9.0,BAIXA,NaN,False,NaN,468.929993,CENTRO NORTE PIAUIENSE,TERESINA,True,1.0,1.0,0.0,27.0,27.0,27.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"DE R$ 81.000,01 A R$ 360.000,00","DE R$ 81.000,01 A R$ 360.000,00",210000.00,210000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2,4a7e5069a397f12fdd7fd57111d6dc5d3ba558958efc02...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,"TRANSPORTE, ARMAZENAGEM E CORREIO",SERVIÇO,7.093151,5 a 10,False,False,False,True,False,2011-09-26,False,False,True,SIM,TRANSPORTE TERRESTRE,TRANSPORTE ARMAZENAGEM E CORREIO,False,False,False,NaN,NaN,NaN,NaN,True,NaN,0.0,0.0,NaN,NaN,NaN,True,AM,AMARELO,ACIMA DE 1 ANO,26.0,MEDIA,NaN,False,NaN,713.500000,CENTRO AMAZONENSE,MANAUS,True,1.0,1.0,0.0,32.0,32.0,32.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ATE R$ 81.000,00","ATE R$ 81.000,00",50000.00,50000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,3,3348900fe63216a439d2e5238c79ddd46ede454df7b9d8...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,SERVICOS DIVERSOS,SERVIÇO,6.512329,5 a 10,False,False,False,False,False,2012-04-25,False,True,True,SIM,REPARACAO E MANUTENCAO DE EQUIPAMENTOS DE INFO...,OUTRAS ATIVIDADES DE SERVICOS,False,False,False,NaN,NaN,NaN,NaN,True,NaN,0.0,0.0,NaN,NaN,NaN,False,AM,AMARELO,ACIMA DE 1 ANO,26.0,MEDIA,NaN,False,NaN,475.730011,CENTRO AMAZONENSE,MANAUS,True,1.0,1.0,0.0,36.0,36.0,36.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"DE R$ 81.000,01 A R$ 360.000,00","DE R$ 81.000,01 A R$ 360.000,00",210000.00,210000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,4,1f9bcabc9d3173c1fe769899e4fac14b053037b953a1e4...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,"SERVICOS PROFISSIONAIS, TECNICOS E CIENTIFICOS",SERVIÇO,3.200000,1 a 5,False,False,False,False,False,2015-08-17,False,True,True,SIM,SERVICOS DE ARQUITETURA E ENGENHARIA TESTES E ...,ATIVIDADES PROFISSIONAIS CIENTIFICAS E TECNICAS,False,False,False,NaN,NaN,NaN,NaN,True,NaN,0.0,0.0,NaN,NaN,NaN,False,RN,VERDE,ACIMA DE 1 ANO,27.0,ALTA,NaN,False,NaN,2874.040039,LESTE POTIGUAR,NATAL,True,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"DE R$ 81.000,01 A R$ 360.000,00","DE R$ 81.000,01 A R$ 360.000,00",210000.00,210000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

## Droping columns

In [7]:
mkt.drop("Unnamed: 0", axis=1, inplace=True)

In [8]:
# Colunas insignificantes
for colunas in mkt.columns:
  if mkt[colunas].notna().sum() == 0:
    mkt.drop(colunas, axis=1, inplace=True)
    print(colunas)

qt_alteracao_socio_total
qt_alteracao_socio_90d
qt_alteracao_socio_180d
qt_alteracao_socio_365d
grau_instrucao_macro_desconhecido

#### Dropar colunas com mais de 70% de NA

In [9]:
# Colunas com poucos dados preenchidos
for colunas in mkt.columns:
  if mkt[colunas].notna().sum() < (mkt.shape[0]*0.30):
    # mkt.drop(colunas, axis=1, inplace=True)
    print(colunas)

vl_total_tancagem
vl_total_veiculos_antt
vl_total_veiculos_leves
vl_total_veiculos_pesados
qt_art
vl_total_tancagem_grupo
vl_total_veiculos_antt_grupo
vl_potenc_cons_oleo_gas
de_indicador_telefone
vl_frota
qt_socios_st_suspensa
qt_socios_pep
qt_socios_pj_ativos
qt_socios_pj_nulos
qt_socios_pj_baixados
qt_socios_pj_suspensos
qt_socios_pj_inaptos
vl_idade_media_socios_pj
vl_idade_maxima_socios_pj
vl_idade_minima_socios_pj
qt_coligados
qt_socios_coligados
qt_coligados_matriz
qt_coligados_ativo
qt_coligados_baixada
qt_coligados_inapta
qt_coligados_suspensa
qt_coligados_nula
idade_media_coligadas
idade_maxima_coligadas
idade_minima_coligadas
coligada_mais_nova_ativa
coligada_mais_antiga_ativa
idade_media_coligadas_ativas
coligada_mais_nova_baixada
coligada_mais_antiga_baixada
idade_media_coligadas_baixadas
qt_coligados_sa
qt_coligados_me
qt_coligados_mei
qt_coligados_ltda
qt_coligados_epp
qt_coligados_norte
qt_coligados_sul
qt_coligados_nordeste
qt_coligados_centro
qt_coligados_sudeste
qt_coligados_exterior
qt_ufs_coligados
qt_regioes_coligados
qt_ramos_coligados
qt_coligados_industria
qt_coligados_agropecuaria
qt_coligados_comercio
qt_coligados_serviço
qt_coligados_ccivil
qt_funcionarios_coligados
qt_funcionarios_coligados_gp
media_funcionarios_coligados_gp
max_funcionarios_coligados_gp
min_funcionarios_coligados_gp
vl_folha_coligados
media_vl_folha_coligados
max_vl_folha_coligados
min_vl_folha_coligados
vl_folha_coligados_gp
media_vl_folha_coligados_gp
max_vl_folha_coligados_gp
min_vl_folha_coligados_gp
faturamento_est_coligados
media_faturamento_est_coligados
max_faturamento_est_coligados
min_faturamento_est_coligados
faturamento_est_coligados_gp
media_faturamento_est_coligados_gp
max_faturamento_est_coligados_gp
min_faturamento_est_coligados_gp
total_filiais_coligados
media_filiais_coligados
max_filiais_coligados
min_filiais_coligados
qt_coligados_atividade_alto
qt_coligados_atividade_medio
qt_coligados_atividade_baixo
qt_coligados_atividade_mt_baixo
qt_coligados_atividade_inativo
qt_coligadas
sum_faturamento_estimado_coligadas
qt_ex_funcionarios
qt_funcionarios_grupo
percent_func_genero_masc
percent_func_genero_fem
idade_ate_18
idade_de_19_a_23
idade_de_24_a_28
idade_de_29_a_33
idade_de_34_a_38
idade_de_39_a_43
idade_de_44_a_48
idade_de_49_a_53
idade_de_54_a_58
idade_acima_de_58
grau_instrucao_macro_analfabeto
grau_instrucao_macro_escolaridade_fundamental
grau_instrucao_macro_escolaridade_media
grau_instrucao_macro_escolaridade_superior
total
meses_ultima_contratacaco
qt_admitidos_12meses
qt_desligados_12meses
qt_desligados
qt_admitidos
media_meses_servicos_all
max_meses_servicos_all
min_meses_servicos_all
media_meses_servicos
max_meses_servicos
min_meses_servicos
qt_funcionarios
qt_funcionarios_12meses
qt_funcionarios_24meses
tx_crescimento_12meses
tx_crescimento_24meses
tx_rotatividade

In [10]:
# mkt.nm_divisao.dropna()

In [11]:
mkt.notna().sum()

id                                               462298
fl_matriz                                        462298
de_natureza_juridica                             462298
sg_uf                                            462298
natureza_juridica_macro                          462298
de_ramo                                          462298
setor                                            460371
idade_empresa_anos                               462298
idade_emp_cat                                    462298
fl_me                                            462298
fl_sa                                            462298
fl_epp                                           462298
fl_mei                                           462298
fl_ltda                                          462298
dt_situacao                                      462292
fl_st_especial                                   462298
fl_email                                         462298
fl_telefone                                      462298
fl_rm                                            462298
nm_divisao                                       460371
nm_segmento                                      460371
fl_spa                                           460371
fl_antt                                          460371
fl_veiculo                                       460371
vl_total_tancagem                                   280
vl_total_veiculos_antt                              176
vl_total_veiculos_leves                           30684
vl_total_veiculos_pesados                         30684
fl_optante_simples                               379585
qt_art                                             6590
vl_total_veiculos_pesados_grupo                  460371
vl_total_veiculos_leves_grupo                    460371
vl_total_tancagem_grupo                            1760
vl_total_veiculos_antt_grupo                        336
vl_potenc_cons_oleo_gas                            3683
fl_optante_simei                                 379585
sg_uf_matriz                                     460359
de_saude_tributaria                              447447
de_saude_rescencia                               447447
nu_meses_rescencia                               417022
de_nivel_atividade                               451130
de_indicador_telefone                             43893
fl_simples_irregular                             460371
vl_frota                                          24190
empsetorcensitariofaixarendapopulacao            318469
nm_meso_regiao                                   403600
nm_micro_regiao                                  403600
fl_passivel_iss                                  460371
qt_socios                                        347207
qt_socios_pf                                     347207
qt_socios_pj                                     347207
idade_media_socios                               310696
idade_maxima_socios                              310696
idade_minima_socios                              310696
qt_socios_st_regular                             307381
qt_socios_st_suspensa                              3251
qt_socios_masculino                              195115
qt_socios_feminino                               145029
qt_socios_pep                                      6743
qt_socios_pj_ativos                                4544
qt_socios_pj_nulos                                 4544
qt_socios_pj_baixados                              4544
qt_socios_pj_suspensos                             4544
qt_socios_pj_inaptos                               4544
vl_idade_media_socios_pj                           4544
vl_idade_maxima_socios_pj                          4544
vl_idade_minima_socios_pj                          4544
qt_coligados                                      65391
qt_socios_coligados                               65391
qt_coligados_matriz                               65391
qt_coligados_ativo                                65391
qt_coligados_baixada                              65391
qt_coligados_inapta                               65391
qt_coligados_suspensa                             65391
qt_coligados_nula                                 65391
idade_media_coligadas                             65391
idade_maxima_coligadas                            65391
idade_minima_coligadas                            65391
coligada_mais_nova_ativa                          65147
coligada_mais_antiga_ativa                        65147
idade_media_coligadas_ativas                      65147
coligada_mais_nova_baixada                          136
coligada_mais_antiga_baixada                        136
idade_media_coligadas_baixadas                      136
qt_coligados_sa                                   65391
qt_coligados_me                                   65391
qt_coligados_mei                                  65391
qt_coligados_ltda                                 65391
qt_coligados_epp                                  65391
qt_coligados_norte                                65391
qt_coligados_sul                                  65391
qt_coligados_nordeste                             65391
qt_coligados_centro                               65391
qt_coligados_sudeste                              65391
qt_coligados_exterior                             65391
qt_ufs_coligados                                  65391
qt_regioes_coligados                              65391
qt_ramos_coligados                                65391
qt_coligados_industria                            65391
qt_coligados_agropecuaria                         65391
qt_coligados_comercio                             65391
qt_coligados_serviço                              65391
qt_coligados_ccivil                               65391
qt_funcionarios_coligados                         42303
qt_funcionarios_coligados_gp                      42303
media_funcionarios_coligados_gp                   42303
max_funcionarios_coligados_gp                     42303
min_funcionarios_coligados_gp                     42303
vl_folha_coligados                                36314
media_vl_folha_coligados                          36314
max_vl_folha_coligados                            36314
min_vl_folha_coligados                            36314
vl_folha_coligados_gp                             36537
media_vl_folha_coligados_gp                       36537
max_vl_folha_coligados_gp                         36537
min_vl_folha_coligados_gp                         36537
faturamento_est_coligados                         64523
media_faturamento_est_coligados                   64523
max_faturamento_est_coligados                     64523
min_faturamento_est_coligados                     64523
faturamento_est_coligados_gp                      64523
media_faturamento_est_coligados_gp                64523
max_faturamento_est_coligados_gp                  64523
min_faturamento_est_coligados_gp                  64523
total_filiais_coligados                           20400
media_filiais_coligados                           20400
max_filiais_coligados                             20400
min_filiais_coligados                             20400
qt_coligados_atividade_alto                       65391
qt_coligados_atividade_medio                      65391
qt_coligados_atividade_baixo                      65391
qt_coligados_atividade_mt_baixo                   65391
qt_coligados_atividade_inativo                    65391
qt_coligadas                                      50231
sum_faturamento_estimado_coligadas                49544
de_faixa_faturamento_estimado                    434785
de_faixa_faturamento_estimado_grupo              434785
vl_faturamento_estimado_aux                      434785
vl_faturamento_estimado_grupo_aux                434785
qt_ex_funcionarios                               115254
qt_funcionarios_grupo                            115263
percent_func_genero_masc                          75942
percent_func_genero_fem                           75942
idade_ate_18                                       2906
idade_de_19_a_23                                  25890
idade_de_24_a_28                                  38895
idade_de_29_a_33                                  40143
idade_de_34_a_38                                  36729
idade_de_39_a_43                                  30408
idade_de_44_a_48                                  24290
idade_de_49_a_53                                  19037
idade_de_54_a_58                                  13975
idade_acima_de_58                                 11026
grau_instrucao_macro_analfabeto                    1884
grau_instrucao_macro_escolaridade_fundamental     24896
grau_instrucao_macro_escolaridade_media           67797
grau_instrucao_macro_escolaridade_superior        22727
total                                             75942
meses_ultima_contratacaco                        103574
qt_admitidos_12meses                             103574
qt_desligados_12meses                            103574
qt_desligados                                    103574
qt_admitidos                                     103574
media_meses_servicos_all                         103560
max_meses_servicos_all                           103560
min_meses_servicos_all                           103560
media_meses_servicos                              76261
max_meses_servicos                                76261
min_meses_servicos                                76261
qt_funcionarios                                  103574
qt_funcionarios_12meses                          103574
qt_funcionarios_24meses                          103574
tx_crescimento_12meses                            73888
tx_crescimento_24meses                            74014
tx_rotatividade                                  103574
qt_filiais                                       462298
dtype: int64

In [12]:
# Selecionando dados "inteiros" e preenchendo com 0
num_col = mkt.columns.str.contains("qt_|tx_|idade_d|idade_a|vl_")
for n in range(0, len(mkt.columns)):
  if num_col[n] == True:
    mkt.iloc[:,n].fillna(0, inplace=True)

In [13]:
# Convertendo dados flutuantes em inteiro?
mkt.select_dtypes(include="number").astype(dtype=int, errors="ignore")

,idade_empresa_anos,vl_total_tancagem,vl_total_veiculos_antt,vl_total_veiculos_leves,vl_total_veiculos_pesados,qt_art,vl_total_veiculos_pesados_grupo,vl_total_veiculos_leves_grupo,vl_total_tancagem_grupo,vl_total_veiculos_antt_grupo,vl_potenc_cons_oleo_gas,nu_meses_rescencia,vl_frota,empsetorcensitariofaixarendapopulacao,qt_socios,qt_socios_pf,qt_socios_pj,idade_media_socios,idade_maxima_socios,idade_minima_socios,qt_socios_st_regular,qt_socios_st_suspensa,qt_socios_masculino,qt_socios_feminino,qt_socios_pep,qt_socios_pj_ativos,qt_socios_pj_nulos,qt_socios_pj_baixados,qt_socios_pj_suspensos,qt_socios_pj_inaptos,vl_idade_media_socios_pj,vl_idade_maxima_socios_pj,vl_idade_minima_socios_pj,qt_coligados,qt_socios_coligados,qt_coligados_matriz,qt_coligados_ativo,qt_coligados_baixada,qt_coligados_inapta,qt_coligados_suspensa,qt_coligados_nula,idade_media_coligadas,idade_maxima_coligadas,idade_minima_coligadas,coligada_mais_nova_ativa,coligada_mais_antiga_ativa,idade_media_coligadas_ativas,coligada_mais_nova_baixada,coligada_mais_antiga_baixada,idade_media_coligadas_baixadas,qt_coligados_sa,qt_coligados_me,qt_coligados_mei,qt_coligados_ltda,qt_coligados_epp,qt_coligados_norte,qt_coligados_sul,qt_coligados_nordeste,qt_coligados_centro,qt_coligados_sudeste,qt_coligados_exterior,qt_ufs_coligados,qt_regioes_coligados,qt_ramos_coligados,qt_coligados_industria,qt_coligados_agropecuaria,qt_coligados_comercio,qt_coligados_serviço,qt_coligados_ccivil,qt_funcionarios_coligados,qt_funcionarios_coligados_gp,media_funcionarios_coligados_gp,max_funcionarios_coligados_gp,min_funcionarios_coligados_gp,vl_folha_coligados,media_vl_folha_coligados,max_vl_folha_coligados,min_vl_folha_coligados,vl_folha_coligados_gp,media_vl_folha_coligados_gp,max_vl_folha_coligados_gp,min_vl_folha_coligados_gp,faturamento_est_coligados,media_faturamento_est_coligados,max_faturamento_est_coligados,min_faturamento_est_coligados,faturamento_est_coligados_gp,media_faturamento_est_coligados_gp,max_faturamento_est_coligados_gp,min_faturamento_est_coligados_gp,total_filiais_coligados,media_filiais_coligados,max_filiais_coligados,min_filiais_coligados,qt_coligados_atividade_alto,qt_coligados_atividade_medio,qt_coligados_atividade_baixo,qt_coligados_atividade_mt_baixo,qt_coligados_atividade_inativo,qt_coligadas,sum_faturamento_estimado_coligadas,vl_faturamento_estimado_aux,vl_faturamento_estimado_grupo_aux,qt_ex_funcionarios,qt_funcionarios_grupo,percent_func_genero_masc,percent_func_genero_fem,idade_ate_18,idade_de_19_a_23,idade_de_24_a_28,idade_de_29_a_33,idade_de_34_a_38,idade_de_39_a_43,idade_de_44_a_48,idade_de_49_a_53,idade_de_54_a_58,idade_acima_de_58,grau_instrucao_macro_analfabeto,grau_instrucao_macro_escolaridade_fundamental,grau_instrucao_macro_escolaridade_media,grau_instrucao_macro_escolaridade_superior,total,meses_ultima_contratacaco,qt_admitidos_12meses,qt_desligados_12meses,qt_desligados,qt_admitidos,media_meses_servicos_all,max_meses_servicos_all,min_meses_servicos_all,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
0,14.457534,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,23.0,0.0,NaN,2.0,2.0,0.0,44.000000,47.0,41.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,8.0,6.0,6.0,0.0,0.0,0.0,0.0,220.477783,536.366638,57.299999,57.299999,536.366638,220.477783,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,2.0,1.0,5.0,0.0,0.0,1.0,5.0,0.0,145.0,145.0,36.250000,91.0,6.0,9375912.0,2.343978e+06,5275238.50,638798.375000,9375912.0,2343978.000,5275238.5,638798.375000,21809444.0,3.634907e+06,13188096.0,210000.000000,22019444.0,3669907.250,13188096.0,210000.000000,1.0,1.000000,1.0,1.0,0.0,0.0,0.0,0.0,0.0,6.0,21809444.0,3.132173e+06,3.132173e+06,119.0,26.0,100.000000,0.000000,0.0,1.0,4.0,6.0,5.0,3.0,4.0,2.0,0.0,1.0,NaN,1.0,25.0,NaN,26.0,19.166666,0.0,0.0,119.0,145.0,13.309196,93.266670,-0.933333,43.738461,93.266670,19.166666,26.0,26.0,27.0,0.0,-3.703704,0.0,0
1,1.463014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,468.929993,1.0,1.0,0.0,27.000000,27.0,27.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.000000e+00,0.00,0.000000,0.0,0.000,0.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2.100000e+05,2.100000e+05,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.000000,0.0,0
2,7.093151,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26.0,0.0,713.500000,1.0,1.0,0.0,32.000000,32.0,32.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.000000e+00,0.00,0.000000,0.0,0.000,0.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,5.000000e+04,5.000000e+04,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.000000,0.0,0
3,6.512329,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26.0,0.0,475.730011,1.0,1.0,0.0,36.000000,36.0,36.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.000000e+00,0.00,0.000000,0.0,0.000,0.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2.100000e+05,2.100000e+05,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.000000,0.0,0
4,3.200000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0,0.0,2874.040039,1.0,1.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.000000e+00,0.00,0.000000,0.0,0.000,0.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2.100000e+05,2.100000e+05,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.000000,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462293,3.254795,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,0.0,585.630005,1.0,1.0,0.0,31.000000,31.0,31.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.000000e+00,0.00,0.000000,0.0,0.000,0.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,5.000000e+04,5.000000e+04,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.000000,0.0,0
462294,8.953424,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0,0.0,2429.889893,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.000000e+00,0.00,0.000000,0.0,0.000,0.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2.100000e+05,2.100000e+05,3.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,74.833336,0.0,0.0,3.0,3.0,11.600000,28.966667,2.900000,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.000000,0.0,0
462295,20.745205,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0,0.0,3150.810059,1.0,1.0,0.0,74.000000,74.0,74.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,307.200012,307.200012,307.200012,307.200012,307.200012,307.200012,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,6.0,6.0,6.000000,6.0,6.0,309096.0,3.090960e+05,309096.00,309096.000000,309096.0,309096.000,309096.0,309096.000000,618192.0,6.181920e+05,618192.0,618192.000000,618192.0,618192.000,618192.0,618192.000000,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1.0,618192.0,2.100000e+05,2.100000e+05,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.000000,0.0,0
462296,1.909589,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,0.0,2752.489990,5.0,5.0,0.0,31.666666,39.0,25.0,3.0,0.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,190.0,194.0,190.0,190.0,0.0,0.0,0.0,0.0,67.578072,611.200012,1.966667,1.966667,611.200012,67.578072,NaN,NaN,NaN,0.0,0.0,0.0,2.0,0.0,40.0,34.0,0.0,27.0,89.0,0.0,10.0,4.0,4.0,0.0,0.0,186.0,4.0,0.0,840.0,984.0,5.436464,173.0,0.0,55163332.0,3.384253e+05,1607299.25,20606.400391,64065296.0,393038.625,10488658.0,20606.400391,173830000.0,9.197354e+05,4821897.5,61819.199219,202215888.0,1069925.375,32725972.0,61819.199219,19.0,6.333333,17.0,1.0,0.0,0.0,0.0,0.0,0.0,190.0,173830000.0,4.327344e+05,4.327344e+05,3.0,3.0,66.669998,33.330002,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN,2.0,1.0,3.0,2.400000,1.0,0.0,3.0,6.0,9.372222,19.733334,2.400000,13.422222,19.733334,2.400000,3.0,2.0,0.0,50.0,0.000000,0.0,0
462297,0.797260,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,1.0,1.0,0.0,44.000000,44.0,44.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.000000e+00,0.00,0.000000,0.0,0.000,0.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2.100000e+05,2.100000e+05,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.000000,0.0,0

In [14]:
 # Tentando converter float em int no df
 mkt.iloc[:,24]

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
462293    0.0
462294    0.0
462295    0.0
462296    0.0
462297    0.0
Name: vl_total_tancagem, Length: 462298, dtype: float32

In [15]:
mkt.query("idade_empresa_anos < 1").idade_empresa_anos.round(0).astype("int16")

7         0
30        1
32        0
36        0
39        0
         ..
462239    1
462256    1
462274    0
462289    1
462297    1
Name: idade_empresa_anos, Length: 46780, dtype: int16

In [16]:
mkt.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 462298 entries, 0 to 462297
Columns: 176 entries, id to qt_filiais
dtypes: bool(9), category(27), float32(139), int16(1)
memory usage: 337.8 MB

### Cat

In [17]:
mkt.select_dtypes("category")

,id,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_emp_cat,dt_situacao,fl_rm,nm_divisao,nm_segmento,fl_spa,fl_antt,fl_veiculo,fl_optante_simples,fl_optante_simei,sg_uf_matriz,de_saude_tributaria,de_saude_rescencia,de_nivel_atividade,de_indicador_telefone,fl_simples_irregular,nm_meso_regiao,nm_micro_regiao,fl_passivel_iss,de_faixa_faturamento_estimado,de_faixa_faturamento_estimado_grupo
0,a6984c3ae395090e3bee8ad63c3758b110de096d5d8195...,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,INDUSTRIA DA CONSTRUCAO,CONSTRUÇÃO CIVIL,10 a 15,2005-03-25,SIM,CONSTRUCAO DE EDIFICIOS,CONSTRUCAO,False,False,False,True,False,RN,VERDE,ACIMA DE 1 ANO,ALTA,BOA,False,LESTE POTIGUAR,NATAL,True,"DE R$ 1.500.000,01 A R$ 4.800.000,00","DE R$ 1.500.000,01 A R$ 4.800.000,00"
1,6178f41ade1365e44bc2c46654c2c8c0eaae27dcb476c4...,EMPRESARIO INDIVIDUAL,PI,OUTROS,SERVICOS DE ALOJAMENTO/ALIMENTACAO,SERVIÇO,1 a 5,2017-05-12,SIM,ALIMENTACAO,ALOJAMENTO E ALIMENTACAO,False,False,False,NaN,NaN,PI,CINZA,ATE 1 ANO,BAIXA,NaN,False,CENTRO NORTE PIAUIENSE,TERESINA,True,"DE R$ 81.000,01 A R$ 360.000,00","DE R$ 81.000,01 A R$ 360.000,00"
2,4a7e5069a397f12fdd7fd57111d6dc5d3ba558958efc02...,EMPRESARIO INDIVIDUAL,AM,OUTROS,"TRANSPORTE, ARMAZENAGEM E CORREIO",SERVIÇO,5 a 10,2011-09-26,SIM,TRANSPORTE TERRESTRE,TRANSPORTE ARMAZENAGEM E CORREIO,False,False,False,True,True,AM,AMARELO,ACIMA DE 1 ANO,MEDIA,NaN,False,CENTRO AMAZONENSE,MANAUS,True,"ATE R$ 81.000,00","ATE R$ 81.000,00"
3,3348900fe63216a439d2e5238c79ddd46ede454df7b9d8...,EMPRESARIO INDIVIDUAL,AM,OUTROS,SERVICOS DIVERSOS,SERVIÇO,5 a 10,2012-04-25,SIM,REPARACAO E MANUTENCAO DE EQUIPAMENTOS DE INFO...,OUTRAS ATIVIDADES DE SERVICOS,False,False,False,True,False,AM,AMARELO,ACIMA DE 1 ANO,MEDIA,NaN,False,CENTRO AMAZONENSE,MANAUS,True,"DE R$ 81.000,01 A R$ 360.000,00","DE R$ 81.000,01 A R$ 360.000,00"
4,1f9bcabc9d3173c1fe769899e4fac14b053037b953a1e4...,EMPRESARIO INDIVIDUAL,RN,OUTROS,"SERVICOS PROFISSIONAIS, TECNICOS E CIENTIFICOS",SERVIÇO,1 a 5,2015-08-17,SIM,SERVICOS DE ARQUITETURA E ENGENHARIA TESTES E ...,ATIVIDADES PROFISSIONAIS CIENTIFICAS E TECNICAS,False,False,False,True,False,RN,VERDE,ACIMA DE 1 ANO,ALTA,NaN,False,LESTE POTIGUAR,NATAL,True,"DE R$ 81.000,01 A R$ 360.000,00","DE R$ 81.000,01 A R$ 360.000,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462293,469ee5fc984d0bb60aa2f40cda4d003d7c9b963d149ed3...,EMPRESARIO INDIVIDUAL,RN,OUTROS,COMERCIO E REPARACAO DE VEICULOS,COMERCIO,1 a 5,2015-07-28,NAO,COMERCIO E REPARACAO DE VEICULOS AUTOMOTORES E...,COMERCIO; REPARACAO DE VEICULOS AUTOMOTORES E ...,False,False,False,True,True,RN,VERDE,ACIMA DE 1 ANO,ALTA,NaN,False,AGRESTE POTIGUAR,BORBOREMA POTIGUAR,False,"ATE R$ 81.000,00","ATE R$ 81.000,00"
462294,656f496e7e2fad708f0022d8ad97d2cb9344e839a5f3cb...,EMPRESARIO INDIVIDUAL,PI,OUTROS,SERVICOS ADMINISTRATIVOS,SERVIÇO,5 a 10,2009-11-16,SIM,SELECAO AGENCIAMENTO E LOCACAO DE MAO DE OBRA,ATIVIDADES ADMINISTRATIVAS E SERVICOS COMPLEME...,False,False,False,False,False,PI,LARANJA,ACIMA DE 1 ANO,MUITO BAIXA,NaN,False,CENTRO NORTE PIAUIENSE,TERESINA,True,"DE R$ 81.000,01 A R$ 360.000,00","DE R$ 81.000,01 A R$ 360.000,00"
462295,9b933a5cf2149d1338f00fb459d34a16b9b0f2e8d3e8e1...,ASSOCIACAO PRIVADA,MA,ENTIDADES SEM FINS LUCRATIVOS,SERVICOS DE SAUDE,SERVIÇO,> 20,2005-11-03,SIM,ATIVIDADES DE ATENCAO A SAUDE HUMANA,SAUDE HUMANA E SERVICOS SOCIAIS,False,False,False,False,False,MA,AMARELO,ACIMA DE 1 ANO,MEDIA,NaN,False,NORTE MARANHENSE,AGLOMERACAO URBANA DE SAO LUIS,True,"DE R$ 81.000,01 A R$ 360.000,00","DE R$ 81.000,01 A R$ 360.000,00"
462296,84db0f17467cf4f02439e01ade57150b6ac59d9dae53ed...,SOCIEDADE EMPRESARIA LIMITADA,RO,ENTIDADES EMPRESARIAIS,COMERCIO VAREJISTA,COMERCIO,1 a 5,2016-11-30,NAO,COMERCIO VAREJISTA,COMERCIO; REPARACAO DE VEICULOS AUTOMOTORES E ...,False,False,False,False,False,RO,VERDE,ACIMA DE 1 ANO,ALTA,NaN,False,NaN,NaN,False,"DE R$ 360.000,01 A R$ 1.500.000,00","DE R$ 360.000,01 A R$ 1.500.000,00"
462297,3d43e934e150b86be1e67524f5ba1018b27da9ef25566d...,EMPRESARIO INDIVIDUAL,RO,OUTROS,"TRANSPORTE, ARMAZENAGEM E CORREIO",SERVIÇO,<= 1,2018-01-10,NAO,CORREIO E OUTRAS ATIVIDADES DE ENTREGA,TRANSPORTE ARMAZENAGEM E CORREIO,False,False,False,NaN,NaN,RO,CINZA,SEM INFORMACAO,BAIXA,NaN,False,NaN,NaN,True,"DE R$ 81.000,01 A R$ 360.000,00","DE R$ 81.000,01 A R$ 360.000,00"

In [18]:
mkt.de_faixa_faturamento_estimado_grupo.nunique()

11

In [26]:
test = pd.DataFrame()
for coluna in mkt.select_dtypes("category").columns:
  if mkt[coluna].nunique() <= 11:
    print(coluna)
    test = pd.concat([test, pd.get_dummies(mkt[coluna], dummy_na=True)], axis=1)
    mkt.drop(coluna, axis=1, inplace=True)

In [27]:
mkt.shape

(462298, 159)

In [28]:
mkt = pd.concat([mkt, test], axis=1)

In [29]:
mkt.shape

(462298, 244)

In [ ]:
cat_list = mkt.select_dtypes("category").columns
pd.get_dummies(data = mkt[cat_list], dummy_na=True)

## Some Analysis

In [ ]:
mkt.head(5)

In [ ]:
# Observar se os faturamentos das empresas são diferentes
mkt[["de_faixa_faturamento_estimado","de_faixa_faturamento_estimado_grupo"]].isna().sum()
for n in range(0, mkt.shape[0]):
  if mkt.de_faixa_faturamento_estimado[n] != mkt.de_faixa_faturamento_estimado_grupo[n]:
    (mkt.de_faixa_faturamento_estimado[n], mkt.de_faixa_faturamento_estimado_grupo[n])

In [ ]:
# Devo remover os outliers?
sns.boxplot(pd.DataFrame(mkt["idade_media_socios"].round(0)));

In [ ]:
# How could it be posible?!
mkt.query(""" idade_media_socios > 58 & (idade_acima_de_58 < 1 | idade_acima_de_58 != idade_acima_de_58)
          """)["idade_media_socios"].round(0).value_counts().sum()

In [ ]:
print(f"Isso equivale a {33885*100/mkt.shape[0]:.2f}%")

In [ ]:
q1, q2, q3 = mkt.idade_media_socios.quantile([0.25, 0.5, 0.75])
IQR = q3 - q1
int_sup = IQR * 1.5 + q3
int_inf = q1 - IQR * 1.5
int_sup, int_inf

In [ ]:
mkt.loc[mkt["idade_media_socios"] > int_sup, "idade_media_socios"] = mkt.idade_media_socios.median()
mkt.loc[mkt["idade_media_socios"] < int_inf, "idade_media_socios"] = mkt.idade_media_socios.median()

In [ ]:
sns.boxplot(pd.DataFrame(mkt["idade_media_socios"].round(0)));

## GarbageCollector

In [ ]:
gc.collect()