<a href="https://colab.research.google.com/github/LucasDatilioCarderelli/Codenation/blob/master/Projeto_Final/PrjF_Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Modeling the Project

## Importings

In [1]:
import pandas as pd
import numpy as np

import matplotlib as plt
import seaborn as sns

from sklearn.preprocessing import (
    LabelEncoder, OneHotEncoder, KBinsDiscretizer)
from sklearn.neighbors import NearestNeighbors

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
mkt = pd.read_csv("/content/mkt")

port1 = pd.read_csv("https://codenation-challenges.s3-us-west-1.amazonaws.com/ml-leads/estaticos_portfolio1.csv")
port2 = pd.read_csv("https://codenation-challenges.s3-us-west-1.amazonaws.com/ml-leads/estaticos_portfolio2.csv")
port3 = pd.read_csv("https://codenation-challenges.s3-us-west-1.amazonaws.com/ml-leads/estaticos_portfolio3.csv")

mkt.shape, port1.shape, port2.shape, port3.shape

((460371, 38), (555, 182), (566, 2), (265, 2))

In [3]:
mkt.head(3)

                                                  id  ...  qt_filiais
0  a6984c3ae395090e3bee8ad63c3758b110de096d5d8195...  ...           0
1  6178f41ade1365e44bc2c46654c2c8c0eaae27dcb476c4...  ...           0
2  4a7e5069a397f12fdd7fd57111d6dc5d3ba558958efc02...  ...           0

[3 rows x 38 columns]

## Preprocessing

### Dropping

In [4]:
mkt.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460371 entries, 0 to 460370
Data columns (total 38 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   id                                   460371 non-null  object
 1   fl_matriz                            460371 non-null  int64
 2   de_natureza_juridica                 460371 non-null  object
 3   sg_uf                                460371 non-null  object
 4   natureza_juridica_macro              460371 non-null  object
 5   de_ramo                              460371 non-null  object
 6   setor                                460371 non-null  object
 7   idade_empresa_anos                   460371 non-null  int64
 8   idade_emp_cat                        460371 non-null  object
 9   fl_me                                460371 non-null  int64
 10  fl_sa                                460371 non-null  int64
 11  fl_epp                               460371 non-null  int64
 12  fl_mei                               460371 non-null  int64
 13  fl_ltda                              460371 non-null  int64
 14  dt_situacao                          460371 non-null  int64
 15  fl_st_especial                       460371 non-null  int64
 16  fl_email                             460371 non-null  int64
 17  fl_telefone                          460371 non-null  int64
 18  fl_rm                                460371 non-null  object
 19  nm_divisao                           460371 non-null  object
 20  nm_segmento                          460371 non-null  object
 21  fl_optante_simples                   460371 non-null  int64
 22  fl_optante_simei                     460371 non-null  int64
 23  sg_uf_matriz                         460371 non-null  object
 24  de_saude_tributaria                  460371 non-null  object
 25  de_saude_rescencia                   460371 non-null  object
 26  de_nivel_atividade                   460371 non-null  object
 27  nm_meso_regiao                       460371 non-null  object
 28  nm_micro_regiao                      460371 non-null  object
 29  fl_passivel_iss                      460371 non-null  int64
 30  qt_socios                            460371 non-null  int64
 31  qt_socios_pf                         460371 non-null  int64
 32  qt_socios_pj                         460371 non-null  int64
 33  idade_media_socios                   460371 non-null  float64
 34  qt_socios_st_regular                 460371 non-null  int64
 35  de_faixa_faturamento_estimado        460371 non-null  object
 36  de_faixa_faturamento_estimado_grupo  460371 non-null  object
 37  qt_filiais                           460371 non-null  int64
dtypes: float64(1), int64(19), object(18)
memory usage: 669.0 MB

In [5]:
mkt["idade_media_socios"] = mkt["idade_media_socios"].astype("int64")

In [6]:
mkt.select_dtypes(include=object).nunique()

id                                     460371
de_natureza_juridica                       66
sg_uf                                       6
natureza_juridica_macro                     7
de_ramo                                    32
setor                                       5
idade_emp_cat                               6
fl_rm                                       2
nm_divisao                                 87
nm_segmento                                21
sg_uf_matriz                               27
de_saude_tributaria                         6
de_saude_rescencia                          5
de_nivel_atividade                          4
nm_meso_regiao                             19
nm_micro_regiao                            73
de_faixa_faturamento_estimado              12
de_faixa_faturamento_estimado_grupo        11
dtype: int64

In [7]:
try: mkt.drop(["idade_empresa_anos", "nm_meso_regiao"], axis=1, inplace=True) 
except: print("droped")

---

In [8]:
X = mkt.copy()

### Bin continuous data into intervals

In [9]:
X.select_dtypes(include="number")

        fl_matriz  fl_me  ...  qt_socios_st_regular  qt_filiais
0               1      0  ...                     2           0
1               1      0  ...                     1           0
2               1      0  ...                     0           0
3               1      0  ...                     1           0
4               1      0  ...                     0           0
...           ...    ...  ...                   ...         ...
460366          1      0  ...                     1           0
460367          1      0  ...                     0           0
460368          1      0  ...                     1           0
460369          1      0  ...                     3           0
460370          1      0  ...                     1           0

[460371 rows x 19 columns]

In [10]:
est = KBinsDiscretizer(n_bins=5, encode='ordinal', strategy='uniform')
est.fit(X[["dt_situacao", "idade_media_socios"]])
X[["dt_situacao", "idade_media_socios"]] = est.transform(
    X[["dt_situacao", "idade_media_socios"]]).astype(int)

In [11]:
X["dt_situacao"].unique(), X["idade_media_socios"].unique()

(array([4, 3, 2, 0, 1]), array([2, 0, 1, 3, 4]))

### Enconding

In [12]:
cat_cols = X.select_dtypes(include=object).columns[1:]
cat_cols

Index(['de_natureza_juridica', 'sg_uf', 'natureza_juridica_macro', 'de_ramo',
       'setor', 'idade_emp_cat', 'fl_rm', 'nm_divisao', 'nm_segmento',
       'sg_uf_matriz', 'de_saude_tributaria', 'de_saude_rescencia',
       'de_nivel_atividade', 'nm_micro_regiao',
       'de_faixa_faturamento_estimado', 'de_faixa_faturamento_estimado_grupo'],
      dtype='object')

In [13]:
X[cat_cols] = X[cat_cols].apply(lambda col: LabelEncoder().fit_transform(col))
X

                                                       id  ...  qt_filiais
0       a6984c3ae395090e3bee8ad63c3758b110de096d5d8195...  ...           0
1       6178f41ade1365e44bc2c46654c2c8c0eaae27dcb476c4...  ...           0
2       4a7e5069a397f12fdd7fd57111d6dc5d3ba558958efc02...  ...           0
3       3348900fe63216a439d2e5238c79ddd46ede454df7b9d8...  ...           0
4       1f9bcabc9d3173c1fe769899e4fac14b053037b953a1e4...  ...           0
...                                                   ...  ...         ...
460366  469ee5fc984d0bb60aa2f40cda4d003d7c9b963d149ed3...  ...           0
460367  656f496e7e2fad708f0022d8ad97d2cb9344e839a5f3cb...  ...           0
460368  9b933a5cf2149d1338f00fb459d34a16b9b0f2e8d3e8e1...  ...           0
460369  84db0f17467cf4f02439e01ade57150b6ac59d9dae53ed...  ...           0
460370  3d43e934e150b86be1e67524f5ba1018b27da9ef25566d...  ...           0

[460371 rows x 36 columns]

### Preparing the Portifolios

In [14]:
port1 = port1[["id"]]

In [15]:
port2.drop("Unnamed: 0", axis=1, inplace=True)
port3.drop("Unnamed: 0", axis=1, inplace=True)

In [16]:
port1 = port1.merge(right=X, how="inner", on="id")
port2 = port2.merge(right=X, how="inner", on="id")
port3 = port3.merge(right=X, how="inner", on="id")

In [17]:
ports = pd.concat([port1, port2, port3])
ports.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            255, 256, 257, 258, 259, 260, 261, 262, 263, 264],
           dtype='int64', length=1386)

---

In [18]:
try:
  X.set_index('id', inplace=True)
  port1.set_index('id', inplace=True)
  port2.set_index('id', inplace=True)
  port3.set_index('id', inplace=True)
except: print("seted")

In [19]:
X = X.drop(index=ports["id"])

In [20]:
X.shape

(459093, 35)

## Fitting

In [22]:
%%time
nn = NearestNeighbors(n_neighbors=1)
nn.fit(X)

CPU times: user 17min 14s, sys: 3.1 s, total: 17min 17s
Wall time: 17min 16s

### Getting the Leads

In [23]:
distances, indices = nn.kneighbors(port1)

In [24]:
port1_leads = pd.DataFrame([X.iloc[indices[row,col]] for row in range(indices.shape[0]) for col in range(indices.shape[1])])

In [25]:
port1_leads

                                                    fl_matriz  ...  qt_filiais
261dd4fcf6e94e567442398642ab29e4c36baa128c9983a...          1  ...           0
ef960aff7dcb3407a0567e98034b87891b0c6e361d6cc42...          0  ...           2
d1ea8ea605398098a93bcf32e1d3bde38dd25fd6488f9ca...          1  ...           0
45bef5a6ab38afe6b353cb7be0f4ecc9037a8f993913bba...          1  ...           0
37804b2f7c3cbba38d5ba55e85c657f389dbfa2d0cec661...          1  ...           3
...                                                       ...  ...         ...
ab7b39c87e98275d546ba553da2080111c4b222375a1db6...          1  ...           0
f6808901a1cf975244fdabbfa8dcd073286fd9673ae3acb...          1  ...           0
098a4f3772359778c30dbb4486715af54b21cf90fd288e3...          1  ...           0
4b80cb9dcbd86aa492d2c69a973f2c1d24d9def1528f72c...          1  ...           0
470d55f7267789590fad401fff3caacb56280897b90b96a...          1  ...           0

[555 rows x 35 columns]

In [26]:
%%time
distances, indices = nn.kneighbors(port2)
port2_leads = pd.DataFrame([X.iloc[indices[row,col]] for row in range(indices.shape[0]) for col in range(indices.shape[1])])
distances, indices = nn.kneighbors(port3)
port3_leads = pd.DataFrame([X.iloc[indices[row,col]] for row in range(indices.shape[0]) for col in range(indices.shape[1])])

CPU times: user 1.29 s, sys: 3 ms, total: 1.29 s
Wall time: 1.3 s

In [27]:
port2_leads

                                                    fl_matriz  ...  qt_filiais
891e3ea062d9f034849e7fc41fd91603daa949cdca184f1...          1  ...           0
5317b65902700f9566ceb9e4b4f5ed1fa0098f805052f6c...          1  ...           0
0526b8c9dc45364b164d7138e6a2a0d61393925951703eb...          0  ...           3
31a9b774217cdb320bc2881c917729bb58ce9722958854e...          1  ...           0
7d96561f96275a0290c8edd1d3bc0cc25fafc4c779a65b0...          1  ...           0
...                                                       ...  ...         ...
f5d23b002d394b8d89c7ba37f5c9cae5926f897e8e781ff...          1  ...           0
6bcf8b3f78f6399f66cd2ccb777162d8f7138681987d100...          1  ...           2
f295a18ca8c1150426ba89c101679b909b1b99a2e1a8699...          1  ...           0
c9f3ed8fd2cb9721896e6f75e3cdd413c923103c966529d...          0  ...          10
5d9a7ce307bce6eb443222eb3953a60fe45df4f1dc52e97...          1  ...           4

[566 rows x 35 columns]

In [28]:
port3_leads

                                                    fl_matriz  ...  qt_filiais
81e062f5554447eb5a8ddfdcfe63ce42752b4cb311f1e84...          1  ...           0
0526b8c9dc45364b164d7138e6a2a0d61393925951703eb...          0  ...           3
70897f415c4473d8ca650d0ff4a567c5bb0f7a87df2f320...          1  ...           0
dcdabcef5d815e5e6e5bab3a553811d1ad9e628d61e91d3...          1  ...           0
5b98116ad29f54d3f6260f72752f010ad61b526c1e1222c...          1  ...           2
...                                                       ...  ...         ...
95461a3b1bab5d6758787474cb498c19a695a0fde0b987d...          1  ...           0
a8e71c34b68ec0b98d73e21a91c7dbb8e072e9837643309...          0  ...           3
c0fc190e4395616c2683cacfa14215f42304a0d299eae8e...          1  ...           0
5c012008ad74c1eea3433ec7e5fa5584dafd54a7c9cdab0...          1  ...           0
f5d23b002d394b8d89c7ba37f5c9cae5926f897e8e781ff...          1  ...           0

[265 rows x 35 columns]

In [29]:
# Seeing if there is equals ids
cont = 0
for row1 in port3.index:
  for row2 in port3_leads.index:
    if row1 == row2:
      cont+=1
print(cont)

0