<a href="https://colab.research.google.com/github/LucasDatilioCarderelli/Codenation/blob/master/Projeto_Final/PrjF_Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

import matplotlib as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.neighbors import NearestNeighbors

In [ ]:
mkt = pd.read_csv("/content/mkt")

port1 = pd.read_csv("https://codenation-challenges.s3-us-west-1.amazonaws.com/ml-leads/estaticos_portfolio1.csv")
port2 = pd.read_csv("https://codenation-challenges.s3-us-west-1.amazonaws.com/ml-leads/estaticos_portfolio2.csv")
port3 = pd.read_csv("https://codenation-challenges.s3-us-west-1.amazonaws.com/ml-leads/estaticos_portfolio3.csv")

mkt.shape, port1.shape, port2.shape, port3.shape

((460371, 38), (555, 182), (566, 2), (265, 2))

In [ ]:
mkt.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460371 entries, 0 to 460370
Data columns (total 38 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   id                                   460371 non-null  object
 1   fl_matriz                            460371 non-null  int64
 2   de_natureza_juridica                 460371 non-null  object
 3   sg_uf                                460371 non-null  object
 4   natureza_juridica_macro              460371 non-null  object
 5   de_ramo                              460371 non-null  object
 6   setor                                460371 non-null  object
 7   idade_empresa_anos                   460371 non-null  int64
 8   idade_emp_cat                        460371 non-null  object
 9   fl_me                                460371 non-null  int64
 10  fl_sa                                460371 non-null  int64
 11  fl_epp                               460371 non-null  int64
 12  fl_mei                               460371 non-null  int64
 13  fl_ltda                              460371 non-null  int64
 14  dt_situacao                          460371 non-null  int64
 15  fl_st_especial                       460371 non-null  int64
 16  fl_email                             460371 non-null  int64
 17  fl_telefone                          460371 non-null  int64
 18  fl_rm                                460371 non-null  object
 19  nm_divisao                           460371 non-null  object
 20  nm_segmento                          460371 non-null  object
 21  fl_optante_simples                   460371 non-null  int64
 22  fl_optante_simei                     460371 non-null  int64
 23  sg_uf_matriz                         460371 non-null  object
 24  de_saude_tributaria                  460371 non-null  object
 25  de_saude_rescencia                   460371 non-null  object
 26  de_nivel_atividade                   460371 non-null  object
 27  nm_meso_regiao                       460371 non-null  object
 28  nm_micro_regiao                      460371 non-null  object
 29  fl_passivel_iss                      460371 non-null  int64
 30  qt_socios                            460371 non-null  int64
 31  qt_socios_pf                         460371 non-null  int64
 32  qt_socios_pj                         460371 non-null  int64
 33  idade_media_socios                   460371 non-null  float64
 34  qt_socios_st_regular                 460371 non-null  int64
 35  de_faixa_faturamento_estimado        460371 non-null  object
 36  de_faixa_faturamento_estimado_grupo  460371 non-null  object
 37  qt_filiais                           460371 non-null  int64
dtypes: float64(1), int64(19), object(18)
memory usage: 669.0 MB

In [ ]:
mkt["idade_media_socios"] = mkt["idade_media_socios"].astype("int64")

In [ ]:
try: mkt.drop("idade_empresa_anos", axis=1, inplace=True) 
except: print("droped")

---

In [ ]:
X = mkt.copy()

In [ ]:
cat_cols = X.select_dtypes(include=object).columns[1:]
cat_cols

Index(['de_natureza_juridica', 'sg_uf', 'natureza_juridica_macro', 'de_ramo',
       'setor', 'idade_emp_cat', 'fl_rm', 'nm_divisao', 'nm_segmento',
       'sg_uf_matriz', 'de_saude_tributaria', 'de_saude_rescencia',
       'de_nivel_atividade', 'nm_meso_regiao', 'nm_micro_regiao',
       'de_faixa_faturamento_estimado', 'de_faixa_faturamento_estimado_grupo'],
      dtype='object')

In [ ]:
X[cat_cols] = X[cat_cols].apply(lambda col: LabelEncoder().fit_transform(col))

In [ ]:
X

                                                       id  ...  qt_filiais
0       a6984c3ae395090e3bee8ad63c3758b110de096d5d8195...  ...           0
1       6178f41ade1365e44bc2c46654c2c8c0eaae27dcb476c4...  ...           0
2       4a7e5069a397f12fdd7fd57111d6dc5d3ba558958efc02...  ...           0
3       3348900fe63216a439d2e5238c79ddd46ede454df7b9d8...  ...           0
4       1f9bcabc9d3173c1fe769899e4fac14b053037b953a1e4...  ...           0
...                                                   ...  ...         ...
460366  469ee5fc984d0bb60aa2f40cda4d003d7c9b963d149ed3...  ...           0
460367  656f496e7e2fad708f0022d8ad97d2cb9344e839a5f3cb...  ...           0
460368  9b933a5cf2149d1338f00fb459d34a16b9b0f2e8d3e8e1...  ...           0
460369  84db0f17467cf4f02439e01ade57150b6ac59d9dae53ed...  ...           0
460370  3d43e934e150b86be1e67524f5ba1018b27da9ef25566d...  ...           0

[460371 rows x 37 columns]

In [ ]:
port1 = port1[["id"]]

---

In [ ]:
port1 = port1.merge(right=X, how="inner", on="id")
port2 = port2.merge(right=X, how="inner", on="id")
port3 = port3.merge(right=X, how="inner", on="id")

In [ ]:
try:
  X.set_index('id', inplace=True)
  port1.set_index('id', inplace=True)
  port2.set_index('id', inplace=True)
  port3.set_index('id', inplace=True)
except: print("seted")

In [ ]:
port2.drop("Unnamed: 0", axis=1, inplace=True)
port3.drop("Unnamed: 0", axis=1, inplace=True)

---

In [ ]:
%%time
nn = NearestNeighbors()
nn.fit(X)

CPU times: user 14min 30s, sys: 2.23 s, total: 14min 33s
Wall time: 14min 30s

In [ ]:
distances, indices = nn.kneighbors(port2)

In [ ]:
recomendados_port1 = pd.DataFrame([X.iloc[indices[row,col]] for row in range(indices.shape[0]) for col in range(indices.shape[1])])

In [ ]:
recomendados_port1

                                                    fl_matriz  ...  qt_filiais
dabe79bec87c88ae04e869bf6bd321ee5e1893cecf66255...          1  ...           0
21e54ccb813076f037b11c8f6c0b1cc1df43c89ebdd9318...          1  ...           0
6e6562286353bed1fd3867dba7dfaa7fd4be3055fe7fb80...          1  ...           0
3247bce6de49bb8decc2b869b20c07195d2d6bce4f54bf9...          1  ...           0
a19fb1d6fcc67d7fef6ae2e72830ef75b7df09bd11cd206...          1  ...           0
...                                                       ...  ...         ...
b910383ca8fd1a299d4eda7e895ed66a8b2d0d450922a0a...          1  ...           0
1d83f82762a7b0f5ffe928a8d67510b6a5c25f27c11a78e...          1  ...           0
900e6ee844658f609e565101b0dd2dfe1a0724851e2bbd1...          1  ...           0
bf1987cfac4c559e7981f8d05bbd87a35bb854966c25a6b...          1  ...           0
6df9ca1e31454bbaed664485ed16aaff11bad68a24f975b...          1  ...           0

[2775 rows x 36 columns]

In [ ]:
%%time
distances, indices = nn.kneighbors(port2)
recomendados_port2 = pd.DataFrame([X.iloc[indices[row,col]] for row in range(indices.shape[0]) for col in range(indices.shape[1])])
distances, indices = nn.kneighbors(port3)
recomendados_port3 = pd.DataFrame([X.iloc[indices[row,col]] for row in range(indices.shape[0]) for col in range(indices.shape[1])])

CPU times: user 3.01 s, sys: 20 ms, total: 3.03 s
Wall time: 3.03 s

In [ ]:
recomendados_port2

                                                    fl_matriz  ...  qt_filiais
09e95c1a84049001d086470a8f320a19b076f955a89122f...          1  ...           0
891e3ea062d9f034849e7fc41fd91603daa949cdca184f1...          1  ...           0
b9ecb6629e14d5e760685521d1394e6ed76a563f770e618...          1  ...           0
0fab8c3fe5f91e5a495740c6129c5e9af830d1e07901620...          1  ...           0
c7cd485696b43f6223a19297f5bce3239525badda169c0f...          1  ...           0
...                                                       ...  ...         ...
8a226339b331b5aec24877a69edc40070b9dd7e71b21943...          1  ...           6
73f52c56d0e15c4bab464cae17981ed62bea2e01d4fbf9a...          1  ...           1
e05cad186a50190e1cc2a3b2c0f4983637fcee39f2a4104...          1  ...           0
29921c0f2fec65620b7c28ad9222b36a87f16718b828241...          1  ...           0
4210d1b060fb8c63436337e966a4f412f2edb97dfa971fc...          1  ...           0

[2830 rows x 36 columns]

In [ ]:
recomendados_port3

                                                    fl_matriz  ...  qt_filiais
bb61c09449a1c1f8b78955d8b7a7f73599e78358993fe24...          1  ...           2
a290c91e52b3b465eb3077477104483e75adb83c030cb27...          1  ...           2
e3174d9abd5a195233146f3bef34f058cd80c8aecc6412f...          1  ...           1
13d78dc71c6fcce11dfc3f7c78e46a3522efdec921f072c...          1  ...           1
6fc138a9ec095f7140b4791d91d6bfafa3b7aa334977a97...          1  ...           0
...                                                       ...  ...         ...
251f454db948590c50df496ea83f76e2227e24a32c2814d...          1  ...           6
750c536ef47aaf44086f5e657448ccd045517df43465955...          1  ...           0
f5d23b002d394b8d89c7ba37f5c9cae5926f897e8e781ff...          1  ...           0
060c9dda0528f43f8c7f9bcf68155c2622c33ccb3703d50...          1  ...           0
7bb0b3fc84da9009db5a279460865cba3db035cd3a4cad2...          1  ...           0

[1325 rows x 36 columns]

In [ ]:
port3

                                                    fl_matriz  ...  qt_filiais
id                                                             ...
bb61c09449a1c1f8b78955d8b7a7f73599e78358993fe24...          1  ...           2
16843c9ffb920170477118933798510d8d5f00f5c56c122...          1  ...           0
1b8d092daff12bed8b3c2ab93bf5df2921865a68aca185f...          1  ...           0
3aafa3a1f12f483740a52956af100223333d0e3c79bf2ce...          1  ...           0
c60431fbca90067f105570e1e8a684bcd7048205bbf6c40...          1  ...           1
...                                                       ...  ...         ...
b6966d868fb7976f993aca02fb667c9ae8f5ebf4d2e0331...          1  ...           0
4a87a82771996c18afc68a17d139bd318d08fa3e5dcf9f8...          1  ...           3
f3b468c4066fac0d2de28bdafa87ec8b9d103a085cf7de5...          1  ...           0
98448fefe3e358578fa643b63fcdcf4a3f2dcb496863f8e...          1  ...           5
251f454db948590c50df496ea83f76e2227e24a32c2814d...          1  ...           6

[265 rows x 36 columns]