# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [1]:
import pandas as pd
import numpy as np

In [2]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [3]:
black_friday.head(5)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [4]:
black_friday.shape

(537577, 12)

In [40]:
def q1():
    # Retorne aqui o resultado da questão 1.
    return black_friday.shape
    pass

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [71]:
black_friday.query("Gender == 'F' & Age == '26-35' ").shape

(49348, 12)

In [69]:
filtro = black_friday[(black_friday['Gender'] == 'F') & (black_friday['Age'] == '26-35')]
filtro['User_ID'].nunique()

545

In [51]:
black_friday.groupby(by="Gender")["Age"].value_counts()

Gender  Age
F       26-35     49348
        36-45     26420
        18-25     24057
        46-50     12856
        51-55      9634
        0-17       4953
        55+        4929
M       26-35    165342
        36-45     81079
        18-25     73577
        46-50     31670
        51-55     27984
        55+       15974
        0-17       9754
Name: Age, dtype: int64

In [41]:
def q2():
    # Retorne aqui o resultado da questão 2.
    return 49348
    pass

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [8]:
black_friday['User_ID'].nunique()

5891

In [47]:
def q3():
    # Retorne aqui o resultado da questão 3.
    return black_friday['User_ID'].nunique()
    pass

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [10]:
black_friday.dtypes

User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                        int64
dtype: object

In [11]:
black_friday.dtypes.nunique()

3

In [48]:
def q4():
    # Retorne aqui o resultado da questão 4.
    return black_friday.dtypes.nunique() 
    pass

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [13]:
black_friday.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [14]:
black_friday.isna().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            373299
Purchase                           0
dtype: int64

In [15]:
na_lines = black_friday.query(
    'Product_Category_2 != Product_Category_2 | Product_Category_3 != Product_Category_3')
print(na_lines.shape)
na_lines[['Product_Category_2', 'Product_Category_3']].head(4)

(373299, 12)

   Product_Category_2  Product_Category_3
0                 NaN                 NaN
2                 NaN                 NaN
3                14.0                 NaN
4                 NaN                 NaN

In [16]:
na_rate = na_lines.shape[0] / black_friday.shape[0]
na_rate

0.6944102891306734

In [17]:
def q5():
    # Retorne aqui o resultado da questão 5.
    return na_rate
    pass

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [18]:
def q6():
    # Retorne aqui o resultado da questão 6.
    return 373299
    pass

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [19]:
black_friday['Product_Category_3'].mode()

0    16.0
dtype: float64

In [20]:
def q7():
    # Retorne aqui o resultado da questão 7.
    return 16
    pass

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [33]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

purchase = black_friday['Purchase'].to_numpy().reshape(-1,1)

scaler_data = MinMaxScaler().fit_transform(purchase)
scaler_data

array([[0.34425471],
       [0.63151918],
       [0.05202725],
       ...,
       [0.33050135],
       [0.29386777],
       [0.28137618]])

In [38]:
scaler_mean = scaler_data.mean()
scaler_mean

0.3847939036269795

In [39]:
def q8():
    # Retorne aqui o resultado da questão 8.
    return scaler_mean
    pass

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [25]:
transformer = StandardScaler().fit_transform(purchase)
transformer

array([[-0.19350662],
       [ 1.17769916],
       [-1.58840234],
       ...,
       [-0.25915586],
       [-0.43401973],
       [-0.4936461 ]])

In [26]:
transformer = pd.DataFrame(transformer, columns=['purchase'])

In [27]:
count_scaler = transformer.query('purchase >= -1 & purchase <= 1')
len(count_scaler)

348631

In [37]:
def q9():
    # Retorne aqui o resultado da questão 9. resp = 348631
    return len(count_scaler)
    pass

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [29]:
def q10():
    # Retorne aqui o resultado da questão 10.
    return True
    pass